/* NAVIGATOR */

.container-nav {
  position: fixed;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.05);
  background-color: white;
  z-index: 1;
}
.nav-name {
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 8rem;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: black;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: #5388ff;
}

/* HEADER */

.container-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 1rem;
  padding-top: 4rem;
}
.heading-name {
  font-size: 2.986rem;
  line-height: 1;
  letter-spacing: -2px;
  margin-bottom: 1rem;
}
.heading-description {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

/* ROADMAP */
.header-timeline {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.container-timeline {
  margin: 0 auto;
  max-width: 40rem;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  justify-items: center;
  column-gap: 1rem;
  margin-bottom: 8rem;
}
.middle__line {
  background-color: #27272a;
  width: 3px;
  position: relative;
}
.middle__line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 1rem;
  height: 1rem;
  background-color: #27272a;
  border-radius: 50%;
  transform: translateX(-50%);
}
.work-item {
  padding-bottom: 8rem;
}
.work-item h5 {
  margin-bottom: 0.25rem;
  font-weight: 500;
}
.work-item p {
  font-size: 1.1rem;
  font-weight: 400;
}
.work-item:nth-child(odd) {
  justify-self: start;
  padding-left: 1rem;
}
.work-item:nth-child(even) {
  justify-self: end;
  padding-right: 1rem;
  text-align: right;
}

.date__timeline:nth-child(odd) {
  justify-self: end;
}
.date__timeline:nth-child(even) {
  justify-self: start;
}
.date__timeline {
  color: #004ff2;
  text-transform: uppercase;
  font-weight: 400;
}
.final__point {
  grid-column: 2/3;
}

/* EXPERIENCE SECTION */
.container-experience {
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1.2fr 2fr;
  gap: 1rem;
}
.title-section-experience {
  align-self: center;
  justify-self: center;
  font-size: 2.074rem;
  font-weight: 600;
  position: relative;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.card-description p {
  margin-bottom: 0.5rem;
  line-height: 1.5;
  font-size: 1rem;
  align-self: end;
}
.card-experience {
  display: grid;
  grid-template-columns: 1fr 2.8fr;
  margin-bottom: 1rem;
  justify-items: center;
}
.card-date {
  text-transform: uppercase;
  padding-top: 0.2rem;
  justify-self: center;
  color: #004ff2;
  font-weight: 200;
  font-size: 0.9rem;
}

/* SECCION TECNOLOGÍAS */
.section-skills {
  background-color: #f5f6f5;
}
.container-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  padding: 4rem 0rem;
}
.icons-list {
  list-style: none;
  display: flex;
  justify-self: center;
  gap: 0.7rem;
}

.title-tech {
  color: #27272a;
  font-size: 1.728rem;
  font-weight: 300;
  justify-self: center;
}

.test {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

/* PROJECT */
.container-projects {
  display: grid;
  padding: 10rem 0rem;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
  height: 80rem;
}
.title-projects {
  grid-column: 1/3;
  justify-self: center;
  font-size: 2.074rem;
  font-weight: 600;
}

.card-project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  padding: 2rem;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 0.5rem;
  column-gap: 1rem;
}
.card-project:hover {
  scale: 1.03;
}
.card-project img {
  width: 20rem;
  height: 15rem;
  border: 1px solid #3370f54a;
  border-radius: 1rem;
}

/* SECTION FORM */

.container-form {
  max-width: 70rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1.1fr 1fr;
  height: 40rem;
}

.text-form {
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 2rem;
}
.text-form h6 {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2;
  font-family: sans-serif;
  margin-bottom: 1rem;
}
.text-form img {
  display: block;
  margin: 0 auto;
}
.form {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem 2rem 8rem 2rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr 0.2fr;
  row-gap: 1rem;
}
.form button {
  align-self: end;
  padding: 1rem 0.8rem;
  font-size: 0.9rem;
}

.form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.form input,
.form select {
  display: block;
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  color: #27272a;
}

.form input::placeholder {
  color: #aaa;
}
.form input:focus {
  outline: none;
  border: 1px solid #3370f54a;
}

.form textarea {
  display: block;
  resize: none;
  width: 100%;
  border: 1px solid #eee;
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  height: 85%;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #27272a;
}
.form textarea::placeholder {
  color: #aaa;
}
.form textarea:focus {
  outline: none;
  border: 1px solid #3370f54a;
}

/* FOOTER */
footer {
  border-top: 1px solid #eee;
}
.container-footer {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}
.footer-list {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}
.footer-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer-list li img {
  width: 2.5rem;
}
